
a,p,h1,h2,h3,h4,h5,h6,tr,th,td,ul,li{
    font-family: 'Droid Sans', sans-serif !important;
}
input[type="text"],
input[type="file"],
input[type="email"],
select{
    font-weight: bold !important;
}
.sitebar-top {
    margin-bottom: 20px;
}
.sitebar{
    background: white;
    box-shadow: 0px 1px 2px 1px #ccc;
    border-radius: 5px;
    padding: 10px 0px;
}
.subnav ul{

    position: relative;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.subnav ul li{
    // display: none;
    width: 100%;
    border-bottom:1px solid #aaa;
    list-style: none;
}
.subnav h4{

    font-size:18px;
    padding:  10px  20px !important;
    margin:-10px 0px 0px 0px !important;
    width: 100%;
    border-bottom: 1px solid #eee;
    background:#34A853;
    color:white;
}
.sitebar .subnav li a{
    text-decoration: none;
    color:#666;
    font-size: 15px;
    padding-left: 20px;
}
.sitebar .subnav:hover li{
    // display: block;

}
.sitebar .subnav li{
    padding: 5px;border-bottom:1px solid #eee;
}
.sitebar .subnav li:hover{
    background: #eee;
}

/*===============================================*/
.main-content{
    background: white;
    padding: 20px;
    box-shadow: 0px 1px 2px 1px #ccc;
    border-radius: 5px;
}

.main-content  h3{
    font-size: 28px;

    margin:0px 0px 20px 0px !important;
    border-bottom: 5px solid #34A853 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0px;
}